* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Grid container styles */

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.controls {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#square-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    align-items: center;
    justify-content: center;
    /* tamaño total del grid */
    border: 2px solid #333;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square {
    border: 1px solid #ddd;
    background-color: white;
    transition: background-color 0.2s;
    /* NO usar flex ni aspect-ratio */
}
